<h1>Posts by some user</h1>
<div class="row">
  <% @posts.each do |post|%>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
<%= post.title %> by<%=post.user.username%>
      </div>
      <div class="panel-body">
        <%post.blog_entry%>

      </div>
      <div class="panel-footer">
        <%link_to'Show', post_path(post), class:'btn btn-primary'%>
        <%link_to'Edit', edit_post_path(post), class:'btn btn-warning'%>
        <% current_user.id==post.user_id%>
        <%link_to'Delete', post_path(post),method: :delete,data:{confirm:'are you sure you wanna delete?'}, class:'btn btn-danger'%>
        <%end%>
      </div>
    </div>

  </div>
  <%end%>
</div>





<%= link_to 'New Post', new_post_path %>
